body {
    background-image: url("../images/Hubble_deep_field.jpg");
    font-family: 'Georgia',Times,Times New Roman,serif;
    font-weight: bold;
    color: #EDEDED;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

section {
    background: #6E6E6E;
    border-radius: 15px;
    float: left;
    width: 90%;
    margin: 10px 5%;
}

img {
    width: 11.5%;
    height: auto;
}

.mobile-version {    
    display: block;
    padding: 5px;
    margin: 5px 5px 5px 15px;
}


@media only screen and (min-width: 1200px) {
    .mobile-version {
        display: none;
    }
    .game-content {
        width: 55%;
        height: 250px;
        margin-right: 5px;
    }
    .score-content {
        width: 34%;
        height: 120px;
        margin: 10px 5% 0px 5px;
    }
}
